@model Asp.NetCoreLoginWithSession.Models.User

@{
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

@{
    if (TempData["msg"]!=null)
    {
        <h4 style="color:greenyellow">@TempData["msg"]</h4>
    }
}
<div>
    <h4 style="color:brown">Hello @Model.UserName</h4>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserAge)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Logout", "Logout")<br />
    @Html.ActionLink("ChangePassword", "ChangePassword")<br />
    @Html.ActionLink("EditProfile", "EditProfile", new { Email = Model.UserEmail })
</div>
